<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-8 offset-2">
<body>
    <h2>Here is your post in detail.</h2> 
    <p>User id:<%= user._id %></p> 
    <div class="user">
        <p >Username: @<%= user.name %></p>    
        <p >email: <%= user.email %></p> 
        <p >Age: <%= user.age %></p>
        <p >Password: <%= user.password %></p>
        <p >Country: <%= user.country %></p>   
    </div>
</body>
</div>
</div>